/* font-family: 'Lobster', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Satisfy', cursive; */

body{
  font-family: 'Satisfy', cursive;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

