/* font-family: 'Lobster', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Satisfy', cursive; */

body{
  font-family: 'Satisfy', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.color-main {
  color: var(--btn);
}

.btn-primary {
  background-color: purple;
  border-color: purple;
}

btn-info {
  background-color: red;
}

.btn-primary:hover {
  background-color: purple;
  border-color: purple;
}

.headings {
  font-family: "Lobster", cursive;
  text-decoration: underline;
}

:root {
  --main-color: red;
  --btn: purple;
}


.nav-right {
  margin-right: 50px;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 12px;
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: "Lobster", cursive;
}

.navbar-expand-lg {
  background-color: purple;
}

.navbar-brand:hover {
  color: white;
}

.navbar-expand-lg li a {
  color: white;
}

a {
  text-decoration: none;
}

/* headings */

.homepage .news-headings {
  background-color: rgba(29, 29, 29, 0.3);
  border-radius: 10px;
  padding: 5px;
}
.headline-text {
  margin-top: 210px;
  color: white;
}

.news-right .news-headings a {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.news-right .card-image {
  height: 195px;
}

.news-right .news-headings a {
  font-weight: 900;
  color: white;
}
.news-headings a {
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
}

/* card */
.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.card {
  background: white none repeat scroll 0 0;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 11px 5px rgba(148, 177, 241, 0.912);
  margin-bottom: 1px;
  padding: 1px 1px;
}

.card-img-top {
  height: 250px;
}
.top-news .card {
  height: 460px;
}


/* media queries */

@media (max-width: 767px) {
  footer h5 {
    display: none;
  }
  footer p {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer h5 {
    display: none;
  }
  footer p {
    display: block;
  }
}