{% macro displayNewsSources(sources) %}

{% for source in sources %}

<a href="/news-source/articles/{{ source.id }}" class="btn btn-primary mb-2">{{ source.name }}</a>

{% endfor %}

{% endmacro %}



{% macro displayNewsSourceArticles(articles_list) %}

{% for article in articles_list %}

<div class="col-md-3">
    <div class="card mb-4">
        {% if article.urlToImage %}
        <img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}">
        {% endif %}

        <div class="card-body">
            <h6 class="">{{ article.title }}</h6>
            <p class="card-text"><small>{{ article.description[:110] }}...</small></p>
            <div class="d-flex justify-content-around">
                <div>
                    <p><strong><span class="badge bg-primary text-light"><small>Author: {{ article.author }}</small></span></strong></p>
                    <p><strong><span class="badge bg-primary text-light"><small>Published On: {{ article.publishedAt }}</small></span></strong></p>
                </div>
                <div class="">
                    <a href="{{ article.url }}" target="_blank" class="color-main"><small>Go to article</small> </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}
